<div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">

    <h1 class="mt-2">Profile</h1>


    <!-- Displays a table of recipes -->
    <div class="container pt-4">
        <div class="table-wrapper">
            <table class="table table-hovered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Skill Level</th>
                    <th scope="col">Username</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row"><%= user.firstname %></th>
                    <td><%= user.lastname %></td>
                    <td><%= user.email %></td>
                    <td><%= user.skill %></td>
                    <td><%= user.username %></td>
                </tr>
                </tbody>
            </table>

        </div>
        <hr>
    </div>

</div>
