<div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">

    <h1 class="mt-2">Profile</h1>

    <!-- User profile -->
    <div class="card mb-3">
        <div class="card-body">
            <% if (users.fname && users.lname) { %>
              <h4 class="card-title"><%= users.fname %> <%= users.lname %></h4>
            <% } else { %>
              <h4>User's name not found</h4>
            <% } %>

            <dl class="row">
                <dt class="col-sm-3">Username</dt>
                <dd class="col-sm-9"><%= users.username %></dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9"><%= users.email %></dd>

                <dt class="col-sm-3">Skill</dt>
                <dd class="col-sm-9"><%= users.skill %></dd>
            </dl>
        </div>
    </div>
</div>
