<% include partials/header.ejs %>
<% include partials/navbar2.ejs %>

<main role="main">
    <div class="container mt-5">

        <div class="tab-content">
            <h1 class="mt-2">Profile</h1>

            <!-- Displays profile table -->
            <div class="container pt-4">
                <div class="table-wrapper">
                    <% if (users.length > 0) {%>
                    <table class="table table-hovered">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Skill Level</th>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% users.forEach((user, index) => { %>
                        <tr>
                            <th scope="row"><%= user.firstname %></th>
                            <td><%= user.lastname %></td>
                            <td><%= user.email %></td>
                            <td><%= user.skill %></td>
                            <td><%= user.username %></td>
                            <td><%= user.password %></td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                        <% } else { %>
                            <p class="text-center">No user found.</p>
                        <% } %>

                </div>
                <hr>
            </div>
        </div>

        <h1 class="mt-2">Cookbook</h1>
        <!-- Add a Recipe -->
        <div class="card mb-3 align-items-center">
            <div class="row mt-3">
                <h1 class="lead">Want to add your own?</h1>
            </div>
            <div class="row mb-3">
                <a href="/add" class="btn btn-secondary">Add a Recipe</a>
            </div>
        </div>

        <!-- Saved Recipes -->
        <div class="card mb-3">
            <div class="card-body">
                <!-- Displays a table of recipes -->
                <div class="table-wrapper">
                    <% if (recipes.length > 0) {%>
                        <table class="table table-hovered">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Ingredients</th>
                                <th scope="col">Instructions</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% recipes.forEach((recipe, index) => { %>
                                <tr>
                                    <th scope="row"><%= recipe.id %></th>
                                    <td><%= recipe.name %></td>
                                    <td><%= recipe.ingredients %></td>
                                    <td><%= recipe.instructions %></td>
                                    <td>
                                        <a href="/edit/<%= recipe.id %>" class="btn btn-sm btn-secondary mb-2">Edit</a>
                                        <a href="/delete/<%= recipe.id %>" class="btn btn-sm btn-secondary mb-2">Delete</a>
                                    </td>
                                </tr>
                            <% }) %>
                            </tbody>
                        </table>
                    <% } else { %>
                        <p class="text-center">No recipes found. Go <a href="/add" >here</a> to add recipe.</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

</main>

<% include partials/footer.ejs %>
